/* Variables CSS */
:root {
  --color-primario: #333333;
  --color-secundario: #d8d2e6;
  --color-terceario: #666666;
  --color-texto: #e6e6e6;
  --color-texto2: #4c4c4c;

  --box-shadow: 0px 5px 25px rgb(2, 2, 2 0.1);
  --text-shadow: 0px 5px 25px rgb(2, 2, 2 0.1);
}

/* ESTILOS GLOBALES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--color-primario);
}

main {
  position: relative;
  margin: 0px 80px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.contenedor-principal {
  position: relative;
}

.tab-navbar {
  position: relative;
  margin: 65px 10px 40px 10px;
}

.tab-navegacion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: 0 auto;
}

.tab-menu {
  color: var(--color-texto);
  list-style: none;
  background-color: var(--color-terceario);
  max-width: 800px;
  padding: 10px;
  white-space: nowrap;
  border-bottom: 1px solid var(--color-terceario);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: var(--box-shadow);
  overflow-x: auto;
  user-select: none;
  scroll-behavior: smooth;
}

.tab-menu.dragging {
  scroll-behavior: unset;
  cursor: grab;
}

.tab-menu::-webkit-scrollbar {
  display: none;
}

.tab-btn {
  font-family: "Roboto", sans-serif;
  color: var(--color-texto);
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  margin: 0px 2px;
  padding: 10px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background: var(--color-primario);
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.tab-menu.dragging .tab-btn {
  pointer-events: none;
}

.tab-btn:hover {
  background-color: var(--color-secundario);
  color: var(--color-texto2);
}

.tab-btn.active {
  background-color: var(--color-secundario);
  color: var(--color-texto2);
}

.izquierda-btn,
.derecha-btn {
  position: absolute;
  color: var(--color-texto);
  font-size: 1.8em;
  padding: 10px;
  cursor: pointer;
}

.izquierda-btn {
  left: 0;
  background: linear-gradient(to left, transparent, var(--color-terceario) 80%);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: none;
}

.derecha-btn {
  right: 0;
  background: linear-gradient(to right, transparent, var(--color-terceario) 80%);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* Contenido de la pagina */
.tab-contenido {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.tab {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  max-width: 1100px;
  padding: 15px 50px;
  transform: translateX(25px);
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -ms-transform: translateX(25px);
  -o-transform: translateX(25px);
  content-visibility: hidden;
  opacity: 0;
}

.tab.active {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  content-visibility: visible;
  opacity: 1;
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}

.tab .fila {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  gap: 30px;
}

.tab .img-carta {
  position: relative;
  width: 450px;
  max-width: 450px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.tab .img-carta img {
  width: 100%;
}

.columna-derecha {
  max-width: 800px;
}

.info .temas,
.info .descripcion p {
  color: var(--color-texto);
  margin-bottom: 10px;
}

.info .temas {
  font-size: 2em;
}

.tema {
  color: var(--color-texto2);
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  text-shadow: var(--text-shadow);
}

/* MEDIA QUERY */
@media screen and (max-width: 1050px) {
  main {
    margin: 0 0px;
  }

  .tab-navbar {
    margin: 65px 20px 40px 25px;
  }

  .tab {
    padding: 15px 25px;
  }

  .tab .fila {
    flex-direction: column;
  }

  .tab .img-carta {
    width: auto;
    max-width: 600px;
  }

  .tema {
    font-size: 10vw;
    padding-bottom: 50px;
  }
}
